<div>
  <h4>Login</h4>
  <div *ngIf="authenticationError">
    Please check your credentials and try again
  </div>
  <div>
    <form [formGroup]="signInForm" (ngSubmit)="submitSignInForm()">
      <div>
        <label for="email">Email</label>
        <input id="email" type="email" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors">
          <div *ngIf="f.email.errors.required">* Email is required</div>
        </div>
      </div>


      <div>
        <label for="password">Password</label>
        <input id="password" type="password" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors">
          <div *ngIf="f.password.errors.required">* Password is required</div>
        </div>
      </div>


      <div>
        <button class="btn btn-primary">
          Login
        </button>
        <a routerLink="../sign-up" class="btn btn-link">Register</a>
      </div>
    </form>
  </div>
</div>
